<div *ngIf="room">
    <h1>{{ welcomeMessage }}</h1>

    <h3>{{ room.roomName }}</h3>
    <p>Room ID: {{ room.id }}</p>
    <p>Admin: {{room.createdBy.name}}</p>
</div>

<div *ngIf="!isCreator && !currentUser">
    <mat-label>Username: </mat-label>
    <mat-form-field>
        <input matInput placeholder="Your name" [(ngModel)]="userName">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="joinRoom()">Join Room</button>
</div>

<div *ngIf="currentUser" class="cards">
    <h2>Choose a card</h2>
    <div class="card" *ngFor="let card of cards" (click)="vote(card)">
      {{ card }}
    </div>
  </div> 

  <div *ngIf="isCreator">
    <h2>Other users in the room:</h2>
    <ul>
      <li *ngFor="let user of users">{{ user.name }} - {{ user.vote }}</li>
    </ul>
  </div>
  
  
<div *ngIf="!room">
    <p>Loading...</p>
</div>