<div class="services_section">
    <div class="container" *ngIf="room">
        <h1 class="services_text" *ngIf="welcomeMessage">{{ welcomeMessage }}</h1>
        <h1 class="services_text" *ngIf="isCreator">Welcome, {{room.createdBy}}</h1>

        <div class="row">
            <div class="col-sm">
                <h3>Room: {{ room.roomName }}</h3>
                <p>Admin: {{ room.createdBy }}</p>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm">
                <button class="btn btn-success btn-block" ngxClipboard [cbContent]="inviteLink"
                    (cbOnSuccess)="onCopySuccess()">Copy room link 🔗</button>
                <button style="float: right;" class="btn btn-secondary btn-block" (click)="navigateToHome()">New
                    room 👉</button>
            </div>
        </div>
    </div>

    <div class="container" *ngIf="!isCreator && !currentUser">
        <h1 class="best_taital">Enter your name to join the room.</h1>
        <div class="box_main">
            <input class="form-control email_bt" placeholder="Your name" [(ngModel)]="userNameValue" name="userName"
                required #userName="ngModel">
            <button class="join-room-btn" (click)="joinRoom()" [disabled]="joiningRoom || userName.invalid">
                <span *ngIf="joiningRoom" class="spinner-border spinner-border-sm" role="status"></span>
                <span *ngIf="!joiningRoom">Join Room</span>
            </button>
        </div>
        <div class="box_main">
            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                class="text-danger join-room-error-text">
                <div *ngIf="userName.errors?.['required']">Please enter your name.</div>
            </div>
        </div>
    </div>
</div>

<!-- Room user section -->
<div class="companies_section layout_padding">
    <div class="container">
        <div class="row">
            <div *ngIf="currentUser" class="other-users-section">
                <div class="container mt-3 mb-4">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="companies_text">Users in the room</h3>
                                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                    <table class="table manage-candidates-top mb-0">
                                        <thead>
                                            <tr>
                                                <th>User Name 😎</th>
                                                <th class="text-center">Vote ✍️</th>
                                                <th class="text-center">Voted ❓</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="candidates-list" *ngFor="let user of users">
                                                <td class="title">
                                                    <div class="candidate-list-details">
                                                        <div class="candidate-list-info">
                                                            <div class="candidate-list-title">
                                                                <h5 class="mb-0">{{user.name}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="candidate-list-favourite-time text-center">
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="showVote || user.name === currentUser.name">{{user.vote}}</span>
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="!showVote && user.name !== currentUser.name">🔒</span>
                                                </td>
                                                <td class="candidate-list-favourite-time text-center">
                                                    <span class="candidate-list-time order-1" *ngIf="user.vote">✅</span>
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="!user.vote">⏳</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="companies_text">Cast your vote!</h3>
                                <div class="container">
                                    <div *ngIf="currentAdmin" class="cards">
                                        <div class="card" *ngFor="let card of cards" (click)="vote(card)">
                                            <span *ngIf="voting" class="spinner-border spinner-border-sm"
                                                role="status"></span>
                                            <span *ngIf="!voting">{{ card }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div *ngIf="isCreator" class="other-users-section">
                <div class="container mt-3 mb-4">
                    <div class="col-lg-12 mt-4 mt-lg-0">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="companies_text">Users in the room</h3>
                                <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
                                    <div class="div-btn-vote">
                                        <button class="btn btn-showVote btn-primary btn-block" *ngIf="showVote"
                                            (click)="toggleVoteVisibility()">Hide
                                            Vote 🙈</button>
                                        <button class="btn btn-showVote btn-primary btn-block" *ngIf="!showVote"
                                            (click)="toggleVoteVisibility()">Show
                                            Vote 👀</button>
                                        <button type="submit" class="btn btn-showVote btn-danger btn-block"
                                            (click)="clearVote()" [disabled]="clearingVote">
                                            <span *ngIf="clearingVote" class="spinner-border spinner-border-sm"
                                                role="status"></span>
                                            <span *ngIf="!clearingVote">Reset votes ⚠️</span>
                                        </button>
                                    </div>
                                    <table class="table manage-candidates-top mb-0">
                                        <thead>
                                            <tr>
                                                <th>User Name 😎</th>
                                                <th class="text-center">Vote ✍️</th>
                                                <th class="text-center">Voted ❓</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="candidates-list" *ngFor="let user of users">
                                                <td class="title">
                                                    <div class="candidate-list-details">
                                                        <div class="candidate-list-info">
                                                            <div class="candidate-list-title">
                                                                <h5 class="mb-0">{{user.name}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="candidate-list-favourite-time text-center">
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="showVote">{{user.vote}}</span>
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="!showVote">🔒</span>
                                                </td>
                                                <td class="candidate-list-favourite-time text-center">
                                                    <span class="candidate-list-time order-1" *ngIf="user.vote">✅</span>
                                                    <span class="candidate-list-time order-1"
                                                        *ngIf="!user.vote">⏳</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="companies_text">Cast your vote!</h3>
                                <div class="container">
                                    <div *ngIf="currentAdmin" class="cards">
                                        <div class="card" *ngFor="let card of cards" (click)="voteAdmin(card)">
                                            <span *ngIf="adminVoting" class="spinner-border spinner-border-sm"
                                                role="status"></span>
                                            <span *ngIf="!adminVoting">{{ card }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!room" class="loading-section">
    <p>Loading...</p>
</div>